<form action="/cart" method="post">
    <button class="btn halfway-fab waves-effect waves-light red" style="float: right;" type="submit"> Add To Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>


<!-- <form class="center-align action="/cart" method="post">
    <button class="btn" type="submit"> Add To Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form> -->